* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  background-color: #020a18;
  padding: 1% 2% 0;
}

.header {
  background-color: #0a121f;
  min-height: 100px;
  margin-bottom: 20px;
}

.header-menu {
  display: flex;
  justify-content: center;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: #020a18 !important;
  margin-bottom: 100px;
}

.container {
  margin: 0 auto;
  max-width: 1146px;
  padding: 0;
}

.menu_link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  padding: 40px 20px;
  border-radius: 10px;
  transition: background-color 0.5s;
}

.menu_link:hover {
  background-color: #3a68b8 !important;
  border-radius: 10px;
}

.button {
  padding: 15px 30px;
  margin-right: 20px;
  background: #3a68b8;
  border-radius: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  transition: color, background-color 0.5s;
  border: 1px solid transparent;
}
.button_hover:hover {
  color: #3a68b8;
  background-color: #fff;
}

.icon {
  transition: all 0.3s;
  width: 23%;
}
.icon_hover:hover {
  transform: scale(1.1);
}

.bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
  padding-top: 200px;
  padding-bottom: 100px;
}

.flex_box {
  display: flex;
  justify-content: space-between;
}

.content {
  align-items: center;
}

.content_left {
  width: 52%;
}

.mini-header_cont {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #3a68b8;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.header-cont {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 40px;
  width: 100%;
}

.par-cont {
  width: 92.2%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 50px;
}

@-webkit-keyframes rotate-in-2-cw {
  0% {
    transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-2-cw {
  0% {
    transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
.content_right {
  max-width: 45%;
}

.main-video {
  width: 100%;
  -webkit-animation: rotate-in-2-cw 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-in-2-cw 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.first_middle {
  margin-top: 157px;
  margin-bottom: 264px;
}

.first_middle_left {
  width: 52%;
}

.first_middle_right {
  width: 42.2%;
}

.mid-img {
  width: 100%;
}

.first_middle_header {
  margin-top: 117px;
  margin-bottom: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #ffffff;
}

.first_middle_cont {
  width: 95%;
  margin-bottom: 50px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.7;
}

.middle_button {
  font-size: 16px;
  line-height: 22px;
}

.txt-cntr-opc, .item_cont_big, .item_head_big, .item_cont, .item_head {
  text-align: center;
  opacity: 0.7;
}

.item_head {
  margin: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
  color: #ffffff;
}

.item_cont {
  margin: 0 30px 30px 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
}

.item_icon {
  display: block;
  margin: 30px auto 0px;
}

.color-rad, .item {
  border-radius: 10px;
  background-color: #132035;
}

.grid-box {
  display: grid;
  grid-template-rows: repeat(3, 3fr);
  grid-template-columns: repeat(3, 31.5%);
  gap: 30px;
}

.item {
  min-height: 390px;
}

.item4 {
  grid-row: 2/4;
  grid-column: 1/3;
}

.big_icon {
  width: 306px;
  height: 322px;
  display: block;
  margin: 30px auto 0px;
}

.item_head_big {
  margin: 60px 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
  color: #ffffff;
}

.item_cont_big {
  margin: 0px 30px 144px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
}

.second_middle {
  margin-top: 243px;
  margin-bottom: 235px;
}

.second_middle_left {
  width: 52%;
}

.second_middle_right {
  width: 47%;
}

.middle-img {
  width: 100%;
}

.second_middle_header {
  margin-top: 14px;
  margin-bottom: 40px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #ffffff;
}

.second_middle_cont {
  margin-bottom: 20px;
  width: 84%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.7;
}

.par_bottom {
  margin-bottom: 14px;
}

footer {
  background-color: #060e1c;
}

.foot_item {
  width: 32%;
}

.foot_head {
  margin-top: 48px;
  margin-bottom: 33px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.first_foot_iten,
.foot_item_right_up {
  margin-bottom: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.foot_item_middle {
  width: 28%;
  margin-right: 130px;
  margin-left: 108px;
}

.foot_item_middle_p {
  width: 95%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-style: italic;
  opacity: 0.6;
}

.foot_bottom {
  margin-bottom: 51px;
}

.fa,
.fas {
  margin-right: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

@media (min-width: 376px) and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
  .content {
    justify-content: center;
  }
  .icon {
    width: 40%;
  }
  .bar {
    justify-content: center;
  }
  .content_right {
    margin-top: 128px;
    max-width: 95%;
  }
  .content_left,
.content_right,
.first_middle_left,
.first_middle_right,
.second_middle_left,
.second_middle_right {
    width: 98%;
    justify-content: center;
  }
  .second_middle_right {
    margin-top: 65px;
  }
  .first_middle_right {
    max-width: 485px;
  }
  .flex_box {
    justify-content: center;
  }
  .grid-box {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 362px;
    justify-content: center;
  }
  .footer {
    justify-content: flex-start;
    padding-bottom: 50px;
  }
  .foot_item_middle {
    margin: 0 0 0 130px;
  }
  .foot_bottom {
    margin-bottom: 0;
  }
  .item4,
.item5,
.item6 {
    display: none;
  }
  .foot_item {
    width: 35%;
  }
}
@media (max-width: 1024px) {
  .icon {
    width: 48%;
  }
}
@media (max-width: 768px) {
  .menu_link {
    font-size: 14px;
    padding: 22px 8px;
  }
  .header {
    min-height: 65px;
  }
  .button {
    margin: 0 10px 20px;
  }
}
@media (max-width: 375px) {
  .container {
    flex-wrap: wrap;
  }
  .content {
    justify-content: center;
  }
  .mini-header_cont {
    font-size: 14px;
    align-items: center;
  }
  .header-cont {
    font-size: 28px;
    align-items: center;
  }
  .icon {
    width: 80%;
  }
  .bar {
    justify-content: center;
    padding-top: 128px;
  }
  .content_right {
    margin-top: 108px;
    max-width: 95%;
  }
  .par-cont {
    width: 100%;
  }
  .content_left,
.content_right,
.first_middle_left,
.first_middle_right,
.second_middle_left,
.second_middle_right {
    width: 100%;
    text-align: center;
  }
  .first_middle {
    margin: 96px auto;
  }
  .first_middle_header {
    margin-top: 68px;
    margin-bottom: 16px;
    font-size: 24px;
  }
  .first_middle_cont {
    margin-bottom: 16px;
  }
  .second_middle {
    margin: 96px auto;
  }
  .second_middle_right {
    margin-top: 32px;
  }
  .first_middle_right {
    max-width: 485px;
  }
  .second_middle_header {
    margin-bottom: 16px;
    font-size: 24px;
  }
  .second_middle_cont {
    margin-bottom: 16px;
    width: 100%;
  }
  .flex_box {
    justify-content: center;
  }
  .grid-box {
    grid-template-rows: repeat(3, 425px);
    grid-template-columns: 310px;
    justify-items: center;
    justify-content: center;
  }
  .item1,
.item2,
.item3 {
    width: 97%;
  }
  .item4,
.item5,
.item6 {
    display: none;
  }
  .footer {
    justify-content: flex-start;
    padding-bottom: 50px;
  }
  .foot_item_middle {
    order: -1;
    margin: 0;
  }
  .foot_bottom {
    margin-bottom: 0;
  }
  .foot_item {
    width: 99%;
  }
  .foot_head,
.foot_item_right_up,
.foot_item_right_down {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */